<i class="account-card-icon icon-graph" />

<h2 class="account-card-title">{{account.title}}</h2>
<h4 class="account-card-number">{{account.account-number}}</h4>

<section class="account-card-balance-display">
    <span class="account-balance-dollar-sign balance-info">$</span>
    <h3 class="account-card-balance balance-info">{{account.balance.dollars}}</h3>
    <p class="account-card-cents balance-info">{{account.balance.cents}}</p>
</section>

<p class="account-card-label">{{accountBalanceLabel}}</p>

<section class="account-card-actions">

</section>