<div class="swiper-container">
    <div class="swiper-wrapper">
        {{#swiper-container 
            loop=loop
            pagination=pagination
            direction=direction
            grabCursor=grabCursor
            navigation=navigation
            speed=speed
            centeredSlides=centeredSlides
        }}
            {{#each accounts as |account|}}
                {{#swiper-slide}}{{account-card account=account}}{{/swiper-slide}}
            {{/each}}
        {{/swiper-container}}
    </div>
</div>

<!--<section class="swiper-params">
    <div class="param param-speed">
        <p>Speed: <input type="number" value={{swiperOptions.speed}} onchange={{action "updateTiming"}} /></p>
    </div>

    <div class="param param-speed">
        Loop: 
        <button 
            class="loop-toggle"
            onclick={{action "toggleLoop"}}
        >{{if loop 'Turn Loop Off' 'Turn Loop On'}}</button>
    </div>

    <div class="param param-direction">
        Direction: 
        <button 
            class="loop-toggle"
            onclick={{action "updateDirection"}}
        >{{if (eq direction 'horizontal') 'Make Vertical' 'Make Horizontal'}}</button>
    </div>
</section> -->